In [7]:
'''types of variables'''
x = 5
print(type(x))
'''///////'''
x= "Hello World"
print(type(x))
'''///////'''
x= 20.5
print(type(x))
'''///////'''
x = ["apple", "banana", "cherry"]
print(type(x))
'''///////'''
x = ("apple", "banana", "cherry")
print(type(x))
'''///////'''
x = {"name" : "John", "age" : 36}
print(type(x))
'''///////'''
x = True
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [8]:
x = 5
x = float(x)
print(x)

5.0

In [9]:
x = 5.5
x =int (x)
print(x)

5

In [12]:
x = "Hello World"
print(len(x))

11

In [14]:
txt = "Hello World"
print(txt[0])

H

In [18]:
txt = "Hello World"
print(txt[2:5])

llo

In [20]:
txt = "  Hello World"
print(txt.strip())

Hello World

In [21]:
txt = "Hello World"
print(txt.upper())

HELLO WORLD

In [22]:
txt = "Hello World"
print(txt.lower())

hello world

In [24]:
txt = "Hello World"
print(txt.replace("H","J"))

Jello World

In [25]:
age = 36
print(f"My name is John, and I am {age}")

My name is John, and I am 36

In [26]:
print(10 > 9)

print(10 == 9)

print(10 < 9)

True
False
False

In [63]:
#Exercise 1
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n \t\tLike a diamond in the sky.\n Twinkle, twinkle, little star,\n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
 		Like a diamond in the sky.
 Twinkle, twinkle, little star,
	How I wonder what you are!

In [38]:
#Exercise 2
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")

print(f"{lname} {fname}")

Enter your first name: mohanad
Enter your last name: hassan
hassan mohanad

In [42]:
#Exercise 3
r=1.1
area=3.14*r**2
print(area)

3.7994000000000008

In [53]:
#Exercise 4
filename="abc.php"
extension=filename.split(".")
print("The extension of the file is : " +extension[-1])

The extension of the file is : php

In [76]:
#Exercise 5
  #convert valuo
x="Amit"
listx=list(x)
tuplex=tuple(x)
print("my list =" ,listx)
print("my tuple =" , tuplex)
  #convert list
x="".join(listx)
print((x))

my list = ['A', 'm', 'i', 't']
my tuple = ('A', 'm', 'i', 't')
Amit

In [80]:
#Exercise 6
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

In [82]:
#Exercise 7
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [85]:
#Exercise 8
x="https://www.google.com/"
y="aimt4536@gmail.com"
print(x.startswith("https"))
print(y.endswith(".com"))

True
True