In [ ]:
#### Multiply 10 with 5, and print the result.
print(10*5)

In [ ]:
### Divide 10 by 2, and print the result.
print(10/2)

In [ ]:
### Use the correct membership operator to check if "apple" is present in the fruits object.
fruits = ["apple", "banana", "cherry"]

if "apple" in fruits:
    print(" 'apple' is present in the fruits object.")
else:
    print(" 'apple' is not present in the fruits object.")

In [ ]:
### Use the correct comparison operator to check if 5 is `not equal` to 10.
if 5 != 10:
    print("5 is not equal to 10")
else:
    print("5 is equal to 10")

In [ ]:
### Use the correct logical operator to check if at least one of two statements is `True`.
statement1 = False
statement2 = True

if statement1 or statement2:
    print("At least one statement is True")
else:
    print("Both statements are False")

In [ ]:
### Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

### Change the value from "apple" to "kiwi", in the fruits list.
index = fruits.index("apple")
fruits[index] = "kiwi"
print(fruits)

In [ ]:
### Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

### Use the insert method to add "lemon" as the second item in the fruits list.

fruits.insert(1, "lemon")
print(fruits)

### Use the remove method to remove `"banana"` from the fruits list.

fruits.remove("banana")
print(fruits)

### Use negative indexing to print the last item in the list.

print(fruits[-1])

In [ ]:
### Use a range of indexes to print the third, fourth, and fifth item in the list.

fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig"]

print(fruits[2:5])
print(len(fruits))

In [ ]:
### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527]
for num in numbers:
    if num % 2 == 0:
        print(num)
    if num == 237:
        break

In [ ]:

### Write a Python program that will accept the base and height of a triangle and compute its area.
def area(h,b):
  area=0.5*h*b
  return area

h=float(input("enter thr height "))
b=float(input("enter thr base "))

print("area = ",area(h,b))

In [ ]:
### Sort three integers without using conditional statements

num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
num3 = int(input("Enter the third integer: "))

numbers = [num1, num2, num3]

sorted_numbers = sorted(numbers)

print("Sorted numbers:", sorted_numbers)

In [ ]:
### Sort three integers :using conditional statements

num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
num3 = int(input("Enter the third integer: "))

if num1 > num2:
    num1, num2 = num2, num1
if num2 > num3:
    num2, num3 = num3, num2
if num1 > num2:
    num1, num2 = num2, num1

print("Sorted numbers:", num1, num2, num3)

In [ ]:
#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.
def are_all_unique(numbers):
    unique_numbers = set(numbers)

    if len(unique_numbers) == len(numbers):
        return True
    else:
        return False

# Test the function
sequence1 = [2, 4, 5, 7, 9]
sequence2 = [2, 4, 5,5, 7, 9]

print("Sequence 1:", are_all_unique(sequence1))  # Should print True
print("Sequence 2:", are_all_unique(sequence2))  # Should print False

In [ ]:
### Calculate the sum of all numbers from 0 to a given number
def sum_of_numbers(n):
    total_sum = (n * (n + 1)) // 2
    return total_sum

n = int(input("Enter a number: "))

result = sum_of_numbers(n)

print("The sum of all numbers from 0 to", n, "is:", result)

In [ ]:
### Find the factorial of a given number using while loop
def factorial(n):
    factorial = 1
    if n < 0:
        return "Factorial is not defined for negative numbers"

    while n > 0:
        factorial *= n
        n -= 1

    return factorial

num = int(input("Enter a number: "))

result = factorial(num)

print("The factorial of", num, "is:", result)

In [ ]:
### Use a loop to display elements from a given list present at odd index positions
def display_elements_at_odd_indices(lst):
    for i in range(len(lst)):
        if i % 2 != 0:
            print(lst[i])


my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("Elements at odd index positions:")
display_elements_at_odd_indices(my_list)